@import url("https://fonts.googleapis.com/css?family=Black+Han+Sans&display=swap");

.action-bar {
  display: flex;
  margin-bottom: 20px;
  transition: all 0.2s linear 0s;

  .action-bar__item {
    margin-right: 8px;
  }

  .bet-container {
    transition: all 2s linear 0s;
    display: flex;
    border-radius: 10px;
    background: #2e0a61;
    padding: 5px;
    width: 100%;
    height: 68px;

    .bet {
      height: 100%;
      width: 100%;
      border-radius: 10px;
      line-height: 50px;
      text-align: center;
      font-size: 1.5rem;
      cursor: pointer;
      position: relative;
      background-color: rgba(44, 62, 80, 0.4);
      border-color: rgba(44, 62, 80, 0.7);
      transition: all 0.2s linear 0s;

      &.bet--2 {
        margin-right: 5px;
        margin-left: 5px;
      }

      &.active {
        @include bg-shiny(252, 172, 1);
      }

      .bet__img {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 25px;
        transform: translate(-50%, -50%);
      }
    }

    @media screen and (max-width: 420px) {
      height: 80px;
    }
  }

  .btn {
    text-align: center;
    text-decoration: none;
    width: 100%;
    border-radius: 10px;
    position: relative;
    display: inline-block;
    padding: 0.618rem 1.618rem;
    cursor: pointer;
    color: #fff;
    text-shadow: 0 1px 2px #be4308;
    font-size: 2rem;
    position: relative;
    transition: font-size 2s linear 0s;

    &.btn--start {
      font-family: "Black Han Sans", sans-serif;
      @include bg-shiny(252, 172, 1);
    }

    &.btn--disabled {
      font-family: "Black Han Sans", sans-serif;
      @include bg-shiny(149, 165, 166);
    }

    .winning-effect__text {
      padding: 0;
      margin: 0;
      padding: 0;
      margin: 0;
      text-align: center;
      font-family: "Black Han Sans", sans-serif !important;
      font-size: 1.5rem;
      display: block;

      @media screen and (max-width: 420px) {
        font-size: 0.9rem;
      }

      .stroke-inner {
        font-family: "Black Han Sans", sans-serif !important;
        padding: 0;
        margin: 0;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
        -webkit-text-stroke: 5px #be4308;
        z-index: 1;

        @media screen and (max-width: 420px) {
          -webkit-text-stroke: 3px #be4308;
        }
      }

      .stroke-inner-2 {
        font-family: "Black Han Sans", sans-serif !important;
        padding: 0;
        margin: 0;
        left: 50%;
        top: 53%;
        transform: translate(-50%, -50%);
        position: absolute;
        -webkit-text-stroke: 5px #be4308;
        z-index: 2;

        @media screen and (max-width: 420px) {
          -webkit-text-stroke: 3px #be4308;
          top: 52%;
        }
      }

      .no-stroke {
        font-family: "Black Han Sans", sans-serif !important;
        padding: 0;
        margin: 0;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
        color: #fff;
        z-index: 2;
      }
    }
  }
}
