.race-ground {
  width: 100%;
  background: #fff;
  margin-bottom: 20px;
  border-radius: 10px;
  padding: 0;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.7);

  .ground {
    background-size: contain;
    height: 70px;
    transition: all 1s linear 0s;

    @media screen and (max-width: 560px) {
      height: 30px;
    }

    &.ground--upper {
      background-image: url('../assets/top-1.png');
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }

    &.ground--lower {
      background-image: url('../assets/below-1.png');
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }
  }

  .lane {
    height: 70px;
    line-height: 70px;
    background: #8f5d92;
    margin-top: 3px;
    margin-bottom: 3px;
    position: relative;
    @include padding(5px, 0, 5px, 0);

    &.lane--1 {
      border-top: 6px dashed #fff;
      border-bottom: 2px solid #f5965f;
    }

    &.lane--2 {
      border-top: 2px solid #f5965f;
      border-bottom: 2px solid #f5965f;
    }

    &.lane--3 {
      border-top: 2px solid #f5965f;
      border-bottom: 6px dashed #fff;
    }

    .snail {
      height: 70px;
      width: 70px;
      line-height: 98px;
      text-align: center;
      background-position: center;

      &.snail--1 {
        @include snail-item('../assets/car1.png');
      }
      &.snail--2 {
        @include snail-item('../assets/car2.png');
      }
      &.snail--3 {
        @include snail-item('../assets/car3.png');
      }
    }
  }
}
